# Ignore node_modules (will be installed inside container)
node_modules
npm-debug.log
Dockerfile*
.dockerignore

# Ignore local development files
.env
.env.*

# Ignore Git-related files
.git
.gitignore

# Ignore test files and coverage
coverage
*.spec.ts
*.test.ts
jest.config.*
tests/

# Ignore editor files
.vscode
.idea

# Ignore build output (only if you build before containerizing)
dist
build
