# Node modules
node_modules/

# Environment files
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*

# Build output
dist/
build/

# Test coverage
coverage/

# Editor directories and files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Jest snapshots
*.snap

# TypeScript cache
*.tsbuildinfo
